.travels-images-content {
	margin-top: 60px;
	.travel-program {
		margin-bottom: 60PX;
		.travels-images {
			.category-box {
				margin-bottom: 30px;
				.wrapper-link {
					height: 350px !important;
					background-size: cover !important;
					.overlay-box {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						text-decoration: none;
						.title {
							position: relative;
							top: - 20px;
							right: auto;
							bottom: auto;
						}
					}
				}
			}
		}
	}
}