#travel {
	.header-left {
		.discount-travel {
			display: flex;
			align-items: center;
			padding: 7px 10px;
			font-size: 18px;
			background-color: $mainColor;
			border-radius: 2px;
			border-top-right-radius: 20px;

			.number {
				display: block;
				margin: 0 10px;
				text-align: center;
				font-weight: bold;
				font-size: 22px;
				margin-left: 0 !important;
			}

			@include minMedium {
				padding: 12px;
				font-size: 24px;
				border-top-right-radius: 25px;
				.number {
					font-size: 28px;
				}
			}
		}
	}
	// =================================================================

	.info-contact {
		.row-contact {
			.side {
				padding-right: 10px;
				margin-bottom: 10px;
				.icon {
					display: inline-block;
					width: 30px;
					color: $mainColor;
				}
				.text {
					color: $mainColorDark;
				}
			}
		}
	}

	
	// =================================================================

	.travels-others {
		.time-period {
			display: flex;
			align-items: center;
			margin-top: 5px;
			.icon {
				color: $mainColor;
				font-size: 16px;
				margin-left: 8px;
			}
			.value {
				color: #f6c78a;
				font-weight: normal;
				.separator {
					color: $mainColor;
					display: inline-block;
					font-weight: bold;
					margin: 0 3px;
				}
			}

		}
	}

	// =================================================================

	
}


// =================================================================

// hotels in tab

.hotels-tab {
	.hotel-box {
		height: 250px;
		padding: 15px;
		margin: 30px 5px;
		border: 1px solid $mainColorDark;
		border-radius: 4px;
		background-color: #f5f5f5;
		@extend .shadow3;
		&:hover {
			.image {
				box-shadow: none !important;
			}
		}

		@include maxLarge {
			height: 280px;
			.image {
				height: 250px !important;
			}
		}

		@include maxMedium {
			height: auto;
			.hotel-col-content {
				order: 2;
			}
			.hotel-col-image {
				order: 1;
			}

			.content {
				padding: 20px 0;
			}
		}

		.content {
			.title {
				.text {
					font-weight: bold;
					font-size: 24px;
					a {
						color: $colorFooter;
					}
				}
			}
			.address {
				padding-right: 10px;
				font-size: 15px;
				margin-bottom: 10px;
				.icon {
					color: $mainColor;
					display: inline-block;
					margin-left: 5px;
				}
				.text {
					color: $mainColorDark;
				}
			}

			.info-text {
				margin-bottom: 20px;
				color: $colorFooter;
				padding: 0 10px;
			}
		}

		.image {
			height: 220px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			border-radius: 6px;
			@include trans('.3s');
			box-shadow: inset 0 0 150px 70px rgba(black, .5);
		}
	}
}


// =================================================================

.offers-tables {
	.wrapper-tabel-offers {
		margin-top: 40px;
		.offer-box {
			margin-bottom: 40px;
			.offer-title {
				.text {
					font-size: 1.1rem;
					font-weight: bold;
					margin-bottom: 10px;
					color: $mainColorDark;
				}
			}
			.t-row {
				border: 2px solid $mainColor;
				display: flex;
				flex-wrap: wrap;
				@include minLarge {
					flex-wrap: nowrap;
					.t-col {
						&.c-price {
							min-width: 180px;
						}
						&.c-itinerary {
							min-width: 180px;
						}
					}
				}

				.t-col {
					flex-basis: calc(100% / 8);
					text-align: center;
					border-left: 1px solid #f6c78a;
					&.hotel-days {
						min-width: 170px;
					}
					@include maxLarge {
						flex-basis: calc(100% / 4);
						.value {
							border-width: 2px !important;
						}
					}
					@include maxSmall {
						flex-basis: calc(100% / 2);
					}
					@media (max-width: 400px) {
						flex-basis: 100%;
					}
					.label {
						font-weight: bold;
						color: $mainColorDark;
						border-bottom: 1px solid #f6c78a;
						height: 40px;
						max-height: 40px;
						font-size: 13px;
						line-height: 40px;
						padding: 3px;
						.icon {
							color: $mainColor;
							display: inline-block;
							margin-left: 3px;
						}
					}
					.value {
						color: $mainColorDark;
						font-size: 13px;
						height: 80px;
						max-height: 80px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-bottom: 1px solid #f6c78a;
						padding: 3px;


						.time-period, .price .prices {
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.time-period {
							.separator {
								margin: 0 5px;
								font-weight: bold;
								color: $mainColor;
								font-size: 14px;
							}
						}
						.hotel-days-view {
							font-size: 12px;
							.days {
								font-weight: bold;
							}
							a {
								color: $mainColorDark;
								text-decoration: underline;
							}
						}

						.itinerary {

						}


						.price {
							.prices {
								> div {
									margin: 0 5px;
								}
							}
							.price-value {
								margin-top: 5px;
								font-weight: bold;
							}
						}
					}
				}

				&.custom-travel {
					.t-col {
						flex-basis: calc(100% / 6) !important;
						@include maxMedium {
							flex-basis: calc(100% / 3) !important;
						}
						@include maxMobile {
							flex-basis: calc(100% / 2) !important;
						}
						@media (max-width: 400px) {
							flex-basis: 100% !important;
						}
					}
				}

				&.custom-hotel-rooms {
					.t-col {
						flex-basis: calc(100% / 4) !important;
						@include maxLarge {
							flex-basis: calc(100% / 2) !important;
						}
						@include maxSmall {
							flex-basis: 100% !important;
						}

						@include minLarge {
							&.c-price-room {
								min-width: 400px;
							}
						}

						&.c-price-room {

							.wrapper-price-col {
								.week-row {
									display: flex;
									margin: 3px 0;
									.week-col {
										padding: 3px;
										width: 65px;
										text-align: center;
										&.title {
											font-weight: bold;
											color: $colorFooter;
										}
									}
								}
							}

							@media (max-width: 400px) {
								.wrapper-price-col {
									display: flex;
									.week-row {
										display: block;
									}
								}
								.value {
									height: 150px;
									max-height: 150px;
								}
							}
						}
						.value {
							height: 100px;
							max-height: 100px;
						}
					}
				}
			}

			.desc-offer {
				margin-top: 5px;
				color: $mainColorDark;
				font-size: 13px;
				.title {
					display: inline-block;
					width: 100px;
					// font-size: 13px;
					font-weight: bold;
				}
				.bold {
					color: #d4980d;
					font-weight: bold;
				}
				b {
					color: #d4980d;
				}
			}
		}
	}
}
// =================================================================



.travel-tabs {
	.tabs {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		.tab {
			margin: 0 5px;
			padding: 6px 12px;
			border-radius: 4px;
			background-color: $colorFooter;
			color: #FFF;
			cursor: pointer;
			.icon {
				display: inline-block;
				margin-right: 5px;
				font-size: 16px;
			}
			&.active {
				cursor: default;
				pointer-events: none;
				color: $mainColor;
				font-weight: bold;
			}
		}
	}
}

// =================================================================


.hotel-map-in-travel-page {
	.map-company {
		.location_map_company {
			height: 500px;
			@include maxMedium {
				height: 50vh;
			}
		}
	}
}

// =================================================================

