
.form-unsubscribe {
	padding: 60px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.section-title-center > .text {
		font-size: 1.4rem;
	}
	form {
		width: 500px;
		@media (max-width: 530px) {
			width: 100%;
		}

		.message-success {
			margin-top: 20px;
		}
	}
}