@font-face {
  font-family: 'Cairo';
  // src: url("../fonts/cairo/Cairo-Black.ttf");
  src: url("../fonts/cairo/Cairo-Bold.ttf");
  src: url("../fonts/cairo/Cairo-Regular.ttf");
  // src: url("../fonts/cairo/Cairo-ExtraLight.ttf");
  // src: url("../fonts/cairo/Cairo-Light.ttf");
  // src: url("../fonts/cairo/Cairo-SemiBold.ttf");
}